*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
     background:linear-gradient(
        135deg,
        #0f0f0f,
        #1b1b3a,
        #5865F2
    );

    background-size:300% 300%;

    animation:bg 10s infinite alternate;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}


@keyframes bg{

    from{
        background-position:left;
    }

    to{
        background-position:right;
    }

}


.card{

    background:#181818;

    width:350px;
    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 30px rgba(0,0,0,0.5);

}


.card h1{

    font-size:45px;
    margin-bottom:10px;

}


.card p{

    color:#aaaaaa;
    margin-bottom:25px;

}


button{

    background:#5865F2;

    color:white;

    border:none;

    padding:12px 30px;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

}
.avatar{

    width:120px;
    height:120px;

    border-radius:50%;

    object-fit:cover;

    margin-bottom:20px;

}


.card{

    animation:show 1s ease;

}


@keyframes show{

    from{

        opacity:0;
        transform:translateY(30px);

    }


    to{

        opacity:1;
        transform:translateY(0);

    }

}
.buttons{

    display:flex;
    flex-direction:column;
    gap:15px;

}


.buttons a{

    display:block;

    background:#5865F2;

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:10px;

    transition:0.3s;

}


.buttons a:hover{

    transform:scale(1.05);

    box-shadow:0 0 20px #5865F2;

}
.buttons a{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

}


.buttons img{

    width:25px;
    height:25px;

    object-fit:contain;

}